{% extends 'myadmin/public/base.html' %}

{% block con %}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                
                <div class="widget-body am-fr">
                    <form action="{% url "myadmin_user_edit" %}?id={{ info.id }}" method="post" enctype="multipart/form-data" class="am-form tpl-form-line-form">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ info.id }}">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">
                                用户名
                            </label>
                            <div class="am-u-sm-9">
                                <input type="text" value="{{ info.username }}" name="username" class="tpl-form-input" placeholder="请输入用户名">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">
                                手机号
                            </label>
                            <div class="am-u-sm-9">
                                <input type="number" value="{{ info.phone }}" name="phone" class="tpl-form-input" placeholder="请输入手机号">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">
                                年龄
                            </label>
                            <div class="am-u-sm-9">
                                <input type="number" value="{{ info.age }}" name="age" class="tpl-form-input" placeholder="请输入年龄">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">
                                邮箱
                            </label>
                            <div class="am-u-sm-9">
                                <input type="email" value="{{ info.email }}" name="email" class="tpl-form-input" placeholder="请输入邮箱">
                            </div>
                        </div>


                        

                       
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button class="am-btn am-btn-primary tpl-btn-bg-color-success ">
                                    提交
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}