{% extends 'myadmin/public/base.html' %}

{% block header %}
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 会员添加 </div>
            
        </div>
    </div>
{% endblock %}

{% block con %}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                
                <div class="widget-body am-fr">
                    <form action="" method="post" enctype="multipart/form-data" class="am-form tpl-form-line-form">
                        {% csrf_token %}


                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">
                                所属类别
                            </label>
                            <div class="am-u-sm-9">
                                <select name="pid" data-am-selected="{btnSize: 'sm'}" style="display: none;">
                                    <option value="0">最高等级</option>
                                    {% for i in info %}
                                    
                                    <option value="{{ i.id }}">{{ i.typename }}</option>
                                    {% endfor %}}
                                    
                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">
                                分类名
                            </label>
                            <div class="am-u-sm-9">
                                <input type="text" name="typename" class="tpl-form-input" placeholder="请输入分类名">
                            </div>
                        </div>

                        
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button class="am-btn am-btn-primary tpl-btn-bg-color-success ">
                                    提交
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}